In [89]:
import numpy as np

In [90]:
import pandas as pd

In [91]:
import psycopg2

In [92]:
from flask_sqlalchemy import SQLAlchemy

In [93]:
import matplotlib.pyplot as plt

In [94]:
import pickle

In [95]:
from sklearn.linear_model import LinearRegression

In [96]:
from sklearn.model_selection import train_test_split

In [97]:
# postgres_str={'postgresql://postgres:sigma-omega@127.0.0.1:5432/sales_demo'}
conn = psycopg2.connect(host="localhost", port = 5432, database="sales_demo", user="postgres", password="sigma-omega")

In [98]:
cur = conn.cursor()

In [99]:
stats =  pd.read_sql_query("select sum(i.selling_price*s.quantity) as yearly_sales, extract(year from sell_date)as year,sum(s.quantity) as total_quantity,sum(stock) total_stock,count(s.sale_id) total_count_sales,(sum(i.buying_price)/(count (s.sale_id)))buying_price,(sum(i.selling_price)/(count (s.sale_id)))selling_price from sales s join inventories as i on s.inv_id=i.inv_id group by year order by year", conn)

In [100]:
stats

,yearly_sales,year,total_quantity,total_stock,total_count_sales,buying_price,selling_price
0,194781,2009.0,519,10408,92,295,369
1,174896,2010.0,452,11232,98,301,376
2,159096,2011.0,441,9781,85,281,351
3,159216,2012.0,411,9799,85,303,379
4,176315,2013.0,491,11617,102,286,358
5,179678,2014.0,516,11541,104,284,354
6,123066,2015.0,372,8049,74,264,330
7,182312,2016.0,510,11627,101,292,364
8,181331,2017.0,497,10432,88,296,370
9,128584,2018.0,363,8744,75,283,353
10,178526,2019.0,482,10724,96,300,374

In [101]:
stats.describe()

,yearly_sales,year,total_quantity,total_stock,total_count_sales,buying_price,selling_price
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,167072.818182,2014.000000,459.454545,10359.454545,90.909091,289.545455,361.636364
std,22766.875551,3.316625,56.486040,1186.701425,10.444659,11.448700,14.319726
min,123066.000000,2009.000000,363.000000,8049.000000,74.000000,264.000000,330.000000
25%,159156.000000,2011.500000,426.000000,9790.000000,85.000000,283.500000,353.500000
50%,176315.000000,2014.000000,482.000000,10432.000000,92.000000,292.000000,364.000000
75%,180504.500000,2016.500000,503.500000,11386.500000,99.500000,298.000000,372.000000
max,194781.000000,2019.000000,519.000000,11627.000000,104.000000,303.000000,379.000000

In [102]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 7 columns):
yearly_sales         11 non-null int64
year                 11 non-null float64
total_quantity       11 non-null int64
total_stock          11 non-null int64
total_count_sales    11 non-null int64
buying_price         11 non-null int64
selling_price        11 non-null int64
dtypes: float64(1), int64(6)
memory usage: 744.0 bytes

In [103]:
stats.isna().sum()

yearly_sales         0
year                 0
total_quantity       0
total_stock          0
total_count_sales    0
buying_price         0
selling_price        0
dtype: int64

In [104]:
pos = pd.isna(stats)
stats[pos] = 0
stats.isna().sum()

yearly_sales         0
year                 0
total_quantity       0
total_stock          0
total_count_sales    0
buying_price         0
selling_price        0
dtype: int64

In [105]:
stats.fillna(0, inplace=True)

In [106]:
stats

,yearly_sales,year,total_quantity,total_stock,total_count_sales,buying_price,selling_price
0,194781,2009.0,519,10408,92,295,369
1,174896,2010.0,452,11232,98,301,376
2,159096,2011.0,441,9781,85,281,351
3,159216,2012.0,411,9799,85,303,379
4,176315,2013.0,491,11617,102,286,358
5,179678,2014.0,516,11541,104,284,354
6,123066,2015.0,372,8049,74,264,330
7,182312,2016.0,510,11627,101,292,364
8,181331,2017.0,497,10432,88,296,370
9,128584,2018.0,363,8744,75,283,353
10,178526,2019.0,482,10724,96,300,374

In [107]:
# training data
y = stats.iloc[:, :1]  
y

    yearly_sales
0         194781
1         174896
2         159096
3         159216
4         176315
5         179678
6         123066
7         182312
8         181331
9         128584
10        178526

In [108]:
 # testing data
x = stats.iloc[:, 1:] 
x

,year,total_quantity,total_stock,total_count_sales,buying_price,selling_price
0,2009.0,519,10408,92,295,369
1,2010.0,452,11232,98,301,376
2,2011.0,441,9781,85,281,351
3,2012.0,411,9799,85,303,379
4,2013.0,491,11617,102,286,358
5,2014.0,516,11541,104,284,354
6,2015.0,372,8049,74,264,330
7,2016.0,510,11627,101,292,364
8,2017.0,497,10432,88,296,370
9,2018.0,363,8744,75,283,353
10,2019.0,482,10724,96,300,374

### Procedure: psyco, x & y, fit, pickle, flask, np[ ], pre, train split

In [109]:
r = LinearRegression()

In [110]:
r.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [111]:
pickle.dump(r, open('predict.pkl', 'wb'))

In [112]:
x.columns

Index(['year', 'total_quantity', 'total_stock', 'total_count_sales',
       'buying_price', 'selling_price'],
      dtype='object')

In [113]:
model = pickle.load(open('predict.pkl', 'rb'))

In [116]:
print(model.predict([[2020, 400, 5000, 75, 200, 250]]))

[[93057.77221535]]